.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
  color: red;
}

$activeColor: #031A23;
$unactiveColor: #ffffff;
$unactiveHoverColor: #137A86;
$activeTextColor: #ffffff;
$unactiveTextColor: #1B404F;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #ecf0f1;
}

.pc-tab { 
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {

      label {
        float: left;
        padding: 15px 25px;
        border: 1px solid #ddd;
        border-bottom: 0;
        cursor: pointer;	
        background: $unactiveColor;
        color: $unactiveTextColor;
        &:hover {
          background: $unactiveHoverColor;
        }
        &:active {
          background: $activeColor;
          color: $activeTextColor;
        }
      }
      &:not(:last-child) label {
         border-right-width: 0; 
      }
    }
  }
  section {
    clear: both;
    div {
      padding: 20px; 
      width: 100%;
      line-height: 1.5em;
      letter-spacing: 0.3px;
      border-top: 1px solid #34495e;
      color: #1B404F;
      #helptip {
      	padding: 0;
      	line-height: 26px;
      	border-top: none;
      }
      #helptip3 {
      	padding: 0;
      	line-height: 26px;
      	border-top: none;
      }
      h2 {
        margin: 0;
        letter-spacing: 1px;
        color: black;
      }
    }
  }
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
  label {
    background: white;
    color: #111;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $activeColor;
      left: 0;
      bottom: -1px;
    }
  }
}

#blocklyDiv {
  line-height: 500px;
  height: 480px; 
  width: 100%;
  border-top: 1px solid #ffffff;
}

#xmlText {
  height: 417.5px;
  width: 100%;
}

.tab2 h2 {
	padding-bottom: 20px;
}

#category {
	cursor: pointer;
}

#helptip{
    text-align: center;
    background-color: #1b404f;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: default;
    display: inline-block;
    vertical-align: middle;

}

#helptip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

#helptip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

#helptip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    //position: absolute;
    position: relative;
    left: -274px;
    z-index: 1;

    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;


}

#helptip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

#helptip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

#helptip2{
    position: absolute;
    top: 310px;
    right: 27%;
    text-align: center;
    background-color: #1b404f;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
}

#helptip2:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

#helptip2:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

#helptip2 p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

#helptip2 p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

#helptip2 p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

#helptip3{
    text-align: center;
    background-color: #1b404f;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    cursor: default;
    display: inline-block;
}

#helptip3:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

#helptip3:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

#helptip3 p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    //position: relative;
    //left: -273px;
    left: 50px;
    z-index: 1;

    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

#helptip3 p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

#helptip3 p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

@media only screen and (max-width:800px) {
    #helptip2{
        top:905px;
        right:1%;
    }
    #helptip{
    	top:72px;
    	right:37%;
    }
    #helptip3{
    	top:72px;
    	right:43%;
    }
}
