language: node_js
node_js:
  - "8"
sudo: true
dist: trusty

before_script:
 - cd frontend
 - npm install -g @angular/cli
 - npm update

script:
  - ng build

deploy:
  provider: azure_web_apps
  skip_cleanup: true
  local_dir: dist/frontend