<div class="helptip" id="helptip">
  <p>Use the "Connect" button to connect the software to a physical robot. 
  Use the "Start" button to run your current blocks on the robot simulator and/or a physical robot.
  Click and drag the simulator to rotate the camera. Scroll to zoom the camera in/out.</p>
</div>
<div id="connectionStatus">
  <mat-icon class="green" *ngIf="connectionService.IsConnected">check_circle</mat-icon>
  <mat-icon class="red" *ngIf="!connectionService.IsConnected">cancel</mat-icon>
  <span>{{ connectionService.getConnectionString() }}</span>
</div>
<button mat-stroked-button (click)="openConnectDialog()" *ngIf="!connectionService.IsConnected">Connect</button>
<button mat-stroked-button (click)="connectionService.disconnect()" *ngIf="connectionService.IsConnected">Disconnect</button>