<div id="container">
    <div id="profileMenu">
      <div id="profileCircle">
        <span>CC</span>
        </div>
    </div>
    <div class="clear"></div>
    <div id="mainSectionContainer">
      <div id="blockly">
        <span>blockly</span>
      </div>
      <div id="simulatorSection">
        <div id="simulator">
          <span>simulator</span>
        </div>
        <div id="robotStatus">
          <span>robotStatus</span>
        </div>
        <div id="simulatorControls">
          <span>simulatorControls</span>
        </div>
      </div>
    </div>
  </div>  