<!--&lt;!&ndash;in this file you will add {{}} which is define in component.ts&ndash;&gt;-->
<!--<script src="./js/three.min.js"></script>-->

<!--<script src="./js/OrbitControls.js"></script>-->

<!--<script src="./js/simulatorModel.js"></script>-->

<!--<body>-->
<!--</body>-->
<!--<p>-->
  <!--simulator works!-->
<!--</p>-->

<!--<p>{{moveClaw(10)}}</p>-->
<!--<p>{{moveArm(3, 4, true)}}</p>-->
<!--<p>{{returnToHome()}}</p>-->
<!--<p>{{wait(1000)}}</p>-->
<!--<p>{{start()}}</p>-->
<!--<p>{{stop()}}</p>-->
<!--<p>{{connectToRobot(1)}}</p>-->
<!--<p>{{disconnectFromRobot()}}</p>-->
