#container {
    width: 90%;
    margin: 0px auto;
}

#mainSectionContainer {
    height: 500px;
}

#blockly {
    width: 65%;
    float: left;
    height: 500px;
    line-height: 500px;
    text-align: center;
    background-color: rgb(207, 207, 207);
}

#simulatorSection {
    width: 35%;
    float: left;
}

#simulator {
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: rgb(168, 168, 168);
    color: rgb(255, 255, 255);
}

#robotConnection {
    height: 100px;
}

#simulatorControls {
    height: 100px;
}