<form>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="First Name" [formControl]="registerFirstName" required>
        <mat-error *ngIf="registerFirstName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Last Name" [formControl]="registerLastName" required>
          <mat-error *ngIf="registerLastName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Email" autocomplete="email" [formControl]="registerEmail" required>
          <mat-error *ngIf="registerEmail.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter a password" autocomplete="current-password" [formControl]="registerPassword" [type]="registerPasswordHide ? 'password' : 'text'" required>
          <mat-error *ngIf="registerPassword.invalid">{{getErrorMessage()}}</mat-error>
          <mat-icon matSuffix (click)="registerPasswordHide = !registerPasswordHide">{{registerPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <input type="submit" value="Register" class="submitButton" />
    </div>
  </form>